/* font styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

/* header section */

.hero-section-container {
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-section img {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}

.hero-section h1 {
  width: 998px;
  height: 136px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  font-size: 48px;
  color: rgb(13, 19, 33);
}

.hero-section p {
  width: 998px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
}

.hero-section button {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  font-size: 20px;
  color: white;
}

.hero-section button a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

/* why-development section */

.why-development {
  width: 79.67%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-development-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-development-text h2 {
  font-size: 32px;
  font-weight: 800;
  text-align: left;
}

.why-development-text p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.btn-secondary {
  width: 150px;
  height: 48px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.wd-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.wd-section-1-text {
  width: 50%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  column-gap: 5px;
}

.wd-section-1-text {
  opacity: 0.7;
  font-size: 16px;
}

.wd-section-1-image {
  width: 50%;
  width: 259.56px;
  height: 217.01px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* inspiration section */

.inspiration {
  width: 79.67%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inspiration-text {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inspiration-text p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: 0.7;
}

.youtube {
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* handshake section */

.handshake {
  height: 314px;
  width: 79.67%;
  margin: 0 auto;
  background-image: url(./assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.handshake-text {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.handshake-text h2 {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.handshake-text p {
  width: 50%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

.input-section input {
  width: 548px;
  height: 57px;
  border: 2px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button-primary {
  width: 120px;
  height: 57px;
  padding: 16px;
  border: 2px solid;
  border-radius: 5px;
  font-weight: 600;
}

/* footer section */

.footer-section-container {
  background-color: #f7f8f8;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-section-text {
  background-color: #fff;
  font-weight: 200;
  font: 16px;
}

.footer-section-link ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.footer-section-link ul li {
  list-style: none;
}

.footer-section-link ul li a {
  text-decoration: none;
}
